<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Homemade from our kitchen to yours</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1</h4>
                                    <h4 class="subheading">Sourcing Local Ingredients</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sand Dollar Enterprises uses only the highest quality ingredients, sourced locally. We purchase fresh produce and sustainable products.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2</h4>
                                    <h4 class="subheading">Homemade From Our Kitchen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our meals are cooked from scratch without the addition of preservatives and MSG. While other companies simply combine dehydrated ingredients, we cook our meals fully to ensure the perfect blend of flavours!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3</h4>
                                    <h4 class="subheading">Prepared for the Backcountry</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our meals are dehydrated in small quantities to ensure freshness and flavour in every bite.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4</h4>
                                    <h4 class="subheading">Enjoy on the trail</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Simply add water to the pouch and enjoy!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Try
                                    <br>Our Meals
                                    <br>Today!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
