<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <h3 class="section-subheading text-muted">Unique homemade and nutritious dehydrated meals. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Convenient</h4>
                    <p class="text-muted">Order online and have it delivered to your home. No need to make special out of the way trips to the outdoors store.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Healthy</h4>
                    <p class="text-muted">We make homemade dehydrated meals using fresh and local ingredients to ensure you're getting a healthy and nutritious meal.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Exciting flavours</h4>
                    <p class="text-muted">Choose from the many meals featuring Chinese, Japanese, Korean, and many more dishes you love eating everyday but just can't get when you're on the trail.</p>
                </div>
            </div>
        </div>
    </section>
